@import "tailwindcss";

@theme {
  /* Định nghĩa các biến màu để Tailwind tự động tạo ra các class bg-background, text-foreground, v.v. */
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222.2 84% 4.9%);
  --color-border: hsl(214.3 31.8% 91.4%);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  
  * {
    @apply border-border;
  }
}